
    <div class="row">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-5 mb-5 col-10" style="background-color: coral;">
            <div class="col" *ngFor="let p of products">
                <app-product-details [productObj]=p (myEvent)="getProductDetailsFromChild($event)"></app-product-details>
            </div> 
        </div>        
        <div class="col-2 text-centre mt-5 mb-5" style="background-color: aquamarine;">
            <button *ngIf="productCount==0" ><img src="..assets/undraw_empty_cart_co35.svg" alt=""></button>
            <h5>number of products selected:{{productCount}}</h5>
            <span *ngFor="let title of productsSentByChild">{{title}},</span>
        </div>
    </div>




    