
    <div class="row">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-5 mb-5 col-10" style="background-color: coral;">
            <div class="col" *ngFor="let p of products">
                <app-product-details [productObj]=p (myEvent)="getProductDetailsFromChild($event)"></app-product-details>
            </div> 
        </div>        
        <div class="col-2 text-centre mt-5 mb-5" style="background-color: aquamarine;">
            <img src="https://i.pinimg.com/originals/2e/ac/fa/2eacfa305d7715bdcd86bb4956209038.png" *ngIf="productCount==0" style=" margin:auto;display: block;width: 100%;border-radius: 50%;margin-top: 300px;" alt="Responsive image">
            <h5 *ngIf="productCount!=0">number of products selected:{{productCount}}</h5>
            <li *ngFor="let title of productsSentByChild">{{title}},</li>
        </div>
    </div>




    