<h1 class="mt-5" style="text-align: center;color:#b76935;font-weight: bold;margin: 10px;">CONTACTUS</h1>
<div  style="background-color: #eed2cc;color: rgb(51, 49, 49);padding: 40px;margin: 30px;">
    <div class="row">
        <div class="col-6">
            <h1>Getting in touch easy!</h1>
            <h2 style="font-weight: bold;">NEXA</h2>
            <h3 style="font-weight: bold;">the house of cars</h3>

            <h4 style="padding-top: 10px;padding-bottom: 10px;"><a href="#" style="color: black;text-decoration-color:rgb(155, 67, 67) ;">Find us here!</a></h4>
            <h4>Contactus at:<a href="#" style="color: black;text-decoration-color:rgb(155, 64, 64) ;">nexa@gmail.com</a></h4>

            <a ><i class="fab fa-twitter fa-2x m-2" style="color: rgb(6, 181, 235);"></i></a>
            <a ><i class="fab fa-facebook fa-2x m-2" ></i></a>
        </div>
    
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Your name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Your Email</label>
              </div>
              <div class="form-floating">
                <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="10" style="height: 10em;"></textarea>
                <label for="exampleFormControlTextarea1" >Message</label>
              </div>
              <div style = "display: flex; justify-content:flex-end">
                <button class="btn btn-success m-3" style="text-align: end;">send</button>
                
              </div>
    
        </div>
    </div>
</div>

