<div class="hk d-block text-center" style="padding:7%;color: white;" >
    <img src="" alt="">
   
   <div class="container">
        <h1  style="font-weight: 600;font-size:3em;color:rgb(215, 226, 236)">Outstanding Value on Extravagant Cars</h1>
        <p class="text-center w-50 d-block" style="font-size: 1.5em;font-weight: 500;display: block;margin:auto;color: rgb(243, 239, 236);">NEXA is Hyderabad’s leading automobile dealership and has been driving growth in domains of automobile sales &amp; service over the last four decades.</p>
        <a href="book-a-test-drive.php" data-kmt="1"><button class="btn"><span>BOOK NOW</span></button></a>
        
    </div>
</div>

